body{
    font-family: Arial, Verdana;
    line-height: 2;
    color:#FFFFFF;
    background-color: #000000;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

h1{
    text-align: center;
    padding: 15px 15px 15px 15px;
    font-size: 42px;
}

h2{
    font-size: 30px;
    color:#0D0D0D;
}

p{
    font-size:24px;
    padding-top:10px;
    padding-left:10px;
}

img {
    border: 10px dashed #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

div{
    min-height: 125px flex; /*may not need the flex*/
    padding: 20px 20px 20px 20px;
    border:3px solid #FFFFFF;
}

.intro{
    border-radius:15px;
    margin-top: 15px;
    line-height: 2.0;
}

.red{
    background-color:#ff0000;
    text-align: right;
    margin-left:50px;
    border-bottom:2px;
    border-left:5px;
}